/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
	/* position: relative; */
	margin: 0;
	color: white;
	height: 100vh;
	background: linear-gradient(
		200.96deg,
		#fedb2a4b -29.09%,
		#4a3ee6c7 51.77%,
		#342c9e 129.35%
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
	overflow-x: hidden;
	display: flex;
	box-sizing: border-box;
	/* justify-content: center;
  align-items: center; */
}
/* input{
	/* width:100%;
	max-width:1150px;
} */
.divInterventionAtelier{
	margin-top: 20px;
	margin-bottom: 20px;
}
.headerCheckBox + div {
	background-color: #342c9e;
	max-width: 20px;
	display: none;
}
.checkIntervention{
	padding: 15px;
	-webkit-transform: scale(2)translateX(-5px);
  margin:5px;
  padding: 10px;
  /* transition: transform 2s; */
}
.checkIntervention:checked{
	transform: scale(2.2) translateX(-4px);
	transition: transform 0.2s cubic-bezier(0, 0.85, 0.56, 1.79);

}
.spanNbrInterventions{
	/* font-size: 1.5rem; */
	color: #f1f1f1;
	font-weight: 900;
	margin: 5px;
	padding:1px 4px;
	padding-right:5px;
	padding-bottom:2px;
	font-size: 12px;
	font-weight: 600;
	position: relative;
	top: 5px;
	right: 1px;
	/* line-height: 1px; */
	/* height: 1px; */
	background-color: #da4141;
	border:  solid 1px rgb(219, 198, 198);
	border-radius: 50%;
	text-align: center;
}
.itemIntervention{
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	margin: 10px;
	margin-right:30px;
	height: 18vh;
	background-color: #01ffff56;
	margin-top: 10px;
	border-radius: 10px;
}
.inactif{

	opacity: 0.2;
	background-color: #5c59594d;
	transition: all .4s;

}

.itemInterventionInfo{
	flex:1;
	display: flex;

	justify-content: space-around;
	align-items: center;
	/* background-color: red; */
}
.itemInterventionInteraction{
	flex:1;
	display: flex;

	justify-content: space-around;
	align-items: center;
	/* background-color: red; */
}
.panierIntervention {
	background-color: #f1f1f188;
	position: fixed;
	bottom: 2%;
	right: 2%;
	width: 350px;
	height: 200px;
	border: 2px solid rgba(0, 0, 0, 0.555);
	border-radius: 5%;
	color: midnightblue;
	text-align: center;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 0.08rem;
}
table {
	width: 95%;
	margin: auto;
	border-spacing: 0;
	border: 1px solid black;
}
.selectFamille {
	margin: auto;
	font-size: 0.8rem;
	max-width: 100px;
}
.optionFamille {
	font-size: 0.5rem;
}

th,
td {
	text-align: center;
	/* width: 100%; */
	/* max-width: 150px;
	min-width: 20px; */
	border-bottom: 0;
	margin: 0;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	padding-right: 0.5rem;
	/* padding-left: 0.2rem; */
	font-size: 0.8rem;
	border-bottom: 1px solid black;
	border-right: 1px dashed black;
}

button {
	background-color: white;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	appearance: none;
	font-size: 1.3rem;
	box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
		0px 18px 88px -4px rgba(24, 39, 75, 0.14);
	transition: transform ease-in 0.1s;
	cursor: pointer;
}

button:hover {
	transform: scale(1.05);
}

.classListeDomaine {
	/* padding: 0 20px; */
	margin: 5px 20px;
	/* display: inline; */
}
.classListeEtalon {
	/* padding: 0 20px; */
	margin: 5px 20px;
	/* display: inline; */
}
.classDomaine {
	padding: 0 20px;
	margin: 5px 20px;
	display: inline;
}
.classDomaineActif {
	padding: 0 20px;
	margin: 5px 20px;
	/* transform :scale(1.05); */
	border-width: 3px;
	border-color: black;
	border-style: solid;
	display: inline;
}
.classEtalon {
	padding: 0 20px;
	margin: 5px 20px;
	display: inline;
}
.classEtalonActif {
	padding: 0 20px;
	margin: 5px 20px;
	/* transform :scale(1.05); */
	border-width: 3px;
	border-color: black;
	border-style: solid;
	display: inline;
	color: #423f6b;
}
.classEtalonnageActif {
	transform: scale(1.05);
	border-width: 3px;
	border-color: black;
	border-style: solid;
}
li {
	list-style: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}
input[type='number'] {
	width: 100px;
	height: 20px;
	padding: 5px;
	font-size: 20px;
}
a {
	text-decoration: none;
	height: fit-content;
	width: fit-content;
	margin: 10px;
}

a:hover {
	opacity: 1;
	text-decoration: none;
}
.buttonPanierIntervention{
	padding: 5px;
	display: inline-block;
	width: 10%;
	/* height: 12%; */
	font-size: 1rem;
}
.LinkPanierIntervention{
color: black;
	list-style: none;
	background-color: white;
	padding: 0;
	width: 10%;
	display: inline-block;
	text-align: center;
	font-size: 1rem;
	/* min-height: 5%; */
	border-radius: 10px;
	border: none;
	appearance: none;
	font-size: 1.3rem;
	box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
		0px 18px 88px -4px rgba(24, 39, 75, 0.14);
	transition: transform ease-in 0.1s;
	cursor: pointer;
}
.LinkPanierIntervention:hover {
	transform: scale(1.05);
}

/* input[type='checkbox']:checked{
	transform: scale(2.2) translateX(-4px);
	transition: transform 0.2s cubic-bezier(0, 0.85, 0.56, 1.79);

} */

nav {
	width: 100vw;
	height: 40px;
	display: flex;
	/* margin: 0 auto; */
	background: linear-gradient(
		200.96deg,
		#fedb2a4b -29.09%,
		#4a3ee6c7 51.77%,
		#342c9e 129.35%
	);
}

nav ul {
	list-style-type: none;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul li {
	/* float: left; */
	/* width: 25%; */
	color: aliceblue;
	text-align: center;
	position: relative;
}

nav a {
	display: block;
	text-decoration: none;
	color: rgb(238, 228, 228);
	border-bottom: 2px solid transparent;
	/* padding: 10px 0px; */
}

nav a:hover {
	/* color: orange; */
	color: rgb(89, 127, 251);
	border-bottom: 2px solid rgb(89, 127, 251);
}

.mainPorts{
	position: absolute;
	left: 40%;
	top: 50%;
	transform: translate(-50% -50%);
	z-index: 2;
}




  .calysContainer{
	  margin: 2%;
	width: 50%;
	/* height: auto */
	/* background-color: #f1f1f1; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
	position: absolute;
	top: 20%;
	left: 10%;
	/* transform: translateX(-20% ) translateY(-100%); */
  }

  .valeur{
	  color:rgba(20, 20, 20, 0.788);
	position: absolute;
	top:30%;
	left: 39%;
	font-size: 2.8vw;
  }
